*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

.main {
}

.introduction {
  background-image: url("/images/optimised/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.supertitle h4 {
  font-size: 25px;
  font-weight: 200;
}

.title {
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: -40px;
}

.content {
  text-align: center;
  margin: 5%;
}

.myself {
  color: black;
  background-color: coral;
  width: 35vw;
  margin: 1vh 1vw 1vh 1vw;
  padding: 2%;
  border: 1vh solid darkblue;
  display: inline-block;
  text-align: left;
}

.myoccupations {
  color: black;
  background: coral;
  width: 35vw;
  margin: 1vh 1vw 1vh 1vw;
  padding: 2%;
  border: 1vh solid darkblue;
  display: inline-block;
  text-align: left;
}

.footer {
  height: 15vh;
  background-color: coral;
}
