body {
  margin: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

.main {
}

.introduction {
  background-image: url("/images/optimised/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  color: white;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.supertitle h4 {
  font-size: 25px;
  font-weight: 200;
}

.title {
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: -40px;
}

.content {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-left: 30vw;
  margin-bottom: 5vh;
  max-width: 50vw;
}

.myself {
  color: black;
}

.myoccupations {
  color: black;
}

.footer {
  height: 15vh;
  background-color: coral;
}
